/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
*{
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    margin-bottom: 35px;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 150px;
}
.nav-title{
    color: var(--Dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; 
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
/* banner styles */
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: var(--Dark-03, #727272);
    font-weight: 400;
}
.banner img{
    width: 100%;
}


/* main styles */
main{
    max-width: 1440px;
    margin: 70px 100px;
}
/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: var(--Dark-03, #727272);
    font-weight: 500;
}
.teams-title .of-our{
    color: var(--Dark-01, #131313);;
    font-weight: 700;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: var(--Dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
}
/* features section styles */
.features{
    margin-top: 100px;
    display: flex;
    gap: 100px;
}
.feature-content .card{
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}
.feature-content-title{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-descriptions{
    color: var(--Dark-03, #727272);
    font-weight: 400;
}
.card .card-title{
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    width: 348px;
    padding: 40px;
  
}

/* some facts section styles */

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.some-facts-title{
    color: var(--Dark-01, #131313);
    font-size: 2.6rem;
    font-weight: 700;
}
.some-facts-description{
    color: var(--Dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
}
.facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-title{
    color: var(--Dark-03, #727272);
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: var(--Dark-02, #424242);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsor sections styles */
.sponsor{
    text-align: center;
}
.sponsor-title{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-description{
    color: var(--Dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;

}
.sponsor-img-container img{
    width: 165px;
}
/* responsive media queries */
/* moblie or smaller devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container
    {
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content,
    .facts-card-container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container,
    .sponsor-img-container
    {
        gap: 20px;
    }
    main{
        max-width: 1440px;
        margin: 70px 50px;
    }
}


/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav, 
    .teams-container,
    .sponsor-img-container
    {
        flex-direction: column;
    }
    .teams-content{
        padding-left: 0px;
        padding-right: 0px;
    }

}